$primary: #f0e7ef;
$secondary: #df9102;
$tertiary: #8c62ff;
$headings-font-family: 'Gloria Hallelujah', cursive;
$headings-color: #000;
$headings-font-weight: bold;
$navbar-brand-font-size: 2.5rem;
$nav-link-font-size: 1.5rem;
$nav-link-font-weight: bold;
$nav-link-color: #000;
